{:header "maven"
 :title "This crate installs [Apache Maven](http://maven.apache.org). Supports Maven version 2 and 3."
 :git-repo "https://github.com/pallet/maven-crate"
 :api-docs "http://palletops.com/maven-crate/0.8/api"
 :annotated-docs "http://palletops.com/maven-crate/0.8/annotated/uberdoc.html"
 :tag-prefix ""
 :versions [{:pallet "0.8.0-RC.7" :version "0.8.0-SNAPSHOT"}]}
